<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.thunder.gamehour.dao.mapper.GameRoomMapper">

	<!-- 創建遊戲房間 -->
	<insert id="createGameRoom"
		parameterType="com.thunder.gamehour.dao.model.GameRoom">
		INSERT INTO GAME_ROOM (ROOM_NAME,
		GAME_NAME,
		PLATFORM,
		HOST)
		VALUES
		(#{gameRoom.roomName},
		#{gameRoom.gameName},
		#{gameRoom.platform},
		#{gameRoom.host});
	</insert>

	<!-- 查詢正在線上的會員 -->
	<select id="getAllGameRooms"
		resultType="com.thunder.gamehour.dao.model.GameRoom">
		SELECT ID, ROOM_NAME,
		GAME_NAME,
		PLATFORM,
		HOST
		FROM GAME_ROOM
		ORDER BY
		ID
	</select>

</mapper>
