<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.thunder.gamehour.dao.mapper.GameRoomMapper">

	<!-- 創建遊戲房間 -->
	<insert id="createGameRoom"
		parameterType="com.thunder.gamehour.dao.model.GameRoom">
		INSERT INTO GAME_ROOM (ROOM_NAME,
		GAME_NAME,
		PLATFORM,
		HOST, IS_TIME_LIMITED)
		VALUES
		(#{gameRoom.roomName},
		#{gameRoom.gameName},
		#{gameRoom.platform},
		#{gameRoom.host},
		#{gameRoom.isTimeLimited});
	</insert>

	<!-- 刪除特定遊戲房間 -->
	<delete id="deleteRoomByHostAndRoomName"
		parameterType="com.thunder.gamehour.dao.model.GameRoom">
		DELETE
		FROM GAME_ROOM
		WHERE ROOM_NAME =
		#{gameRoom.roomName} AND
		HOST = #{gameRoom.host}
	</delete>

	<!-- 搜尋所有線上房間 -->
	<select id="getAllGameRooms"
		resultType="com.thunder.gamehour.dao.model.GameRoom">
		SELECT ID, ROOM_NAME,
		GAME_NAME,
		PLATFORM,
		HOST
		FROM GAME_ROOM
		ORDER BY
		ID
	</select>

	<!-- 依照ID搜尋遊戲房 -->
	<select id="getGameRoomById"
		resultType="com.thunder.gamehour.dao.model.GameRoom">
		SELECT ID, ROOM_NAME,
		GAME_NAME,
		PLATFORM,
		HOST
		FROM GAME_ROOM
		WHERE HOST = #{gameRoomId}
	</select>

	<!-- 依照條件搜尋線上房間 -->
	<select id="getGameRoomWithCondition"
	parameterType="com.thunder.gamehour.dao.model.dto.SearchRoomCondition"
	resultType="com.thunder.gamehour.dao.model.GameRoom">
	SELECT GAME_ROOM.ID, GAME_ROOM.ROOM_NAME, GAME_ROOM.GAME_NAME,
	GAME_ROOM.PLATFORM, GAME_ROOM.HOST,
	GAME_ROOM.IS_TIME_LIMITED,
	GAME_TYPE.TYPE_NAME_CHN
	FROM GAME_ROOM
	LEFT JOIN GAME ON
	GAME_ROOM.GAME_NAME = GAME.ID
	LEFT JOIN GAME_TYPE ON GAME.GAME_TYPE =
	GAME_TYPE.ID
		<where>
			<choose>
				<when test="roomSearchCondition.gameRoomType == true">
					AND GAME_ROOM.IS_TIME_LIMITED = true
				</when>
				<when test="roomSearchCondition.gameRoomType == false">
					AND GAME_ROOM.IS_TIME_LIMITED = false
				</when>
			</choose>
			<choose>
				<when test="roomSearchCondition.searchCondition1 != null">
					OR GAME_TYPE.TYPE_NAME_CHN =
					#{roomSearchCondition.searchCondition1}
				</when>
				<when test="roomSearchCondition.searchCondition2 != null">
					OR GAME_TYPE.TYPE_NAME_CHN =
					#{roomSearchCondition.searchCondition2}
				</when>
				<when test="roomSearchCondition.searchCondition3 != null">
					OR GAME_TYPE.TYPE_NAME_CHN =
					#{roomSearchCondition.searchCondition3}
				</when>
				<when test="roomSearchCondition.searchCondition4 != null">
					OR GAME_TYPE.TYPE_NAME_CHN =
					#{roomSearchCondition.searchCondition4}
				</when>
				<when test="roomSearchCondition.searchCondition5 != null">
					OR GAME_TYPE.TYPE_NAME_CHN =
					#{roomSearchCondition.searchCondition5}
				</when>
			</choose>
		</where>
		ORDER BY GAME_ROOM.ID, GAME_ROOM.GAME_NAME ASC
	</select>

</mapper>
